<div class="uk-flex-center uk-margin-top" uk-grid>
    <div class="uk-width-1-3@m">
        <app-loading *ngIf="busy"></app-loading>

        <form [formGroup]="form" *ngIf="!busy">
            <div class="uk-card uk-card-primary uk-card-body uk-body-shadow-small">
                <h3 class="uk-card-title">Meu Perfil</h3>
                <div class="uk-margin">
                    <input type="text" class="uk-input uk-form-large" placeholder="Nome" formControlName="name"
                        [ngClass]="{'uk-form-danger': form.controls.name.invalid && !form.controls.name.pristine}">
                </div>
                <div class="uk-margin">
                    <input type="email" class="uk-input uk-form-large" placeholder="Email" formControlName="email"
                        [ngClass]="{'uk-form-danger': form.controls.email.invalid && !form.controls.email.pristine}">
                </div>
                <div class="uk-margin">
                    <input class="uk-input uk-form-large" formControlName="document" />
                </div>
                <div class="uk-margin uk-text-right">
                    <button [routerLink]="['/']" routerLinkActive="router-link-active"  class="uk-button uk-margin-small-right uk-button-default">Cancelar</button>
                    <button class="uk-button uk-button-default" (click)="submit()"
                        [disabled]="form.invalid">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>